<meta charset="utf-8">
<title><%= title %></title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/stylesheets/simplePagination.css" rel="stylesheet">

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/jquery.simplePagination.js"></script>
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    })
</script>