<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <% include components/head %>
</head>
<body>
<% include components/nav %>
<section class="body-section">
  <h1><%= title %></h1>
</section>
</body>
</html>
