<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include components/head %>
    <script>
        $(document).ready(function () {
            $("#paging").pagination({
                items: <%= pageCount %>,
                currentPage: <%= page %>,
                onPageClick: function (pageNumber, event) {
                    gotoPage(pageNumber);
                },
                cssStyle: 'light-theme'
            });
        });
    </script>
</head>
<body>
<% include components/nav %>
<section class="body-section">
    <h1><%= title %></h1>
    <div id="paging"></div>
    <table id="time" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <% times.forEach(function(time, i){ %>
        <tr>
            <td><a href="/workers/<%=time.worker.id%>"><%= time.worker.first_name + " " + time.worker.last_name %></a></td>
            <td><%= time.getStringDate() %></td>
            <td><%= time.getStringStartTime() %></td>
            <td><%= time.getStringEndTime() %></td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#edit-time-<%= time.id %>">
                    Edit
                </button>
                <form action="/<%= time.id %>/delete" method="post" style="display: inline;">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <div class="separator"></div>
    <button type="button" class="btn btn-info" data-toggle="modal"
            data-target="#new">
        New
    </button>
    <div id="new" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New work time</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/add">
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input name="first_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="middle_name">Middle name</label>
                            <input name="middle_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input name="last_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="sex">Sex</label>
                            <select name="sex" class="form-control">
                                <option>male</option>
                                <option>female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="from">Date</label>

                            <div class="input-group date datepicker" data-provide="datepicker">
                                <input type="text" name="date" class="form-control" value="2016-05-01">

                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="from">Start time</label>
                            <input name='from' type="time" class="form-control" name="time" value="08:00"/>
                        </div>
                        <div class="form-group">
                            <label for="to">End time</label>
                            <input name='to' type="time" class="form-control" name="time" value="16:00"/>
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <% times.forEach(function(time, i){ %>
    <div id="edit-time-<%= time.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/<%= time.id %>/save">
                        <div class="form-group">
                            <label for="from">Date</label>
                            <div class="input-group date datepicker" data-provide="datepicker">
                                <input type="text" name="date" class="form-control" value="<%= time.getStringDate() %>">

                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="from">Start time</label>
                            <input name='from' type="time" class="form-control" name="time" value="<%=time.getStringStartTime()%>"/>
                        </div>
                        <div class="form-group">
                            <label for="to">End time</label>
                            <input name='to' type="time" class="form-control" name="time" value="<%=time.getStringEndTime()%>"/>
                        </div>
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</section>
</body>
</html>
