<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include components/head %>
</head>
<body>
<% include components/nav %>
<section class="body-section">
    <h1><%= title %></h1>
    <table id="worker" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Contact</th>
            <th>updatedAt</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <% workers.forEach(function(worker, i){ %>
        <tr>
            <td><%= worker.first_name %></td>
            <td><%= worker.middle_name %></td>
            <td><%= worker.last_name %></td>
            <td><%= worker.sex %></td>
            <td><%= worker.contact %></td>
            <td><%= worker.updatedAt %></td>
            <td>
                <form action="/" method="get" style="display: inline;">
                    <input type="hidden" name="worker_id" value="<%= worker.id %>">
                    <button class="btn btn-default" type="submit">
                        TimeTable
                    </button>
                </form>
                <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#edit-worker-<%= worker.id %>">
                    Edit
                </button>
                <form action="/workers/<%= worker.id %>/delete" method="post" style="display: inline;">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <button type="button" class="btn btn-info" data-toggle="modal"
            data-target="#new">
        New
    </button>
    <div id="new" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/workers/new/save">
                        <div class="form-group">
                            <label for="first_name">first_name</label>
                            <input name="first_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="middle_name">middle_name</label>
                            <input name="middle_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="last_name">last_name</label>
                            <input name="last_name" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for=sexy">sex</label>
                            <input name="sex" type="text" class="form-control" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="contact">contact</label>
                            <input name="contact" type="text" class="form-control" value=""/>
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Лучше динамически добавлять, но времени нет -->
    <% workers.forEach(function(worker, i){ %>
    <div id="edit-worker-<%= worker.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/workers/<%= worker.id %>/save">
                        <% for(var p in worker.dataValues){ %>
                        <% if(p != "id" && p != "updatedAt" && p != "createdAt"){ %>
                        <div class="form-group">
                            <label for="<%= p %>"><%= p %></label>
                            <input name="<%= p %>" type="text" class="form-control"
                                   value="<%= worker.getDataValue(p) %>"/>
                        </div>
                        <% }} %>
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</section>
</body>
</html>
